/* 전체 컨테이너 */
.register-container {
    width: 1100px;
    margin: 0 auto;
}

.register-banner {
    background: #0b5f82;
    color: white;
    padding: 5px 35px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;   /* 위에서 아래 방향 정렬 */
    align-items: flex-start;  /* 왼쪽 정렬 */
    gap: 3px;                 /* h2와 p 사이 간격 추가 */
}


.new-btn {
    background: #064f6a;
    border: none;
    padding: 10px 20px;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

/* 메인 등록 박스 */
.register-box {
    border: 2px solid #0b5f82;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    gap: 40px;
}

/* 왼쪽 이미지 영역 */
.image-area {
    width: 200px;
    height: 200px;
    background-color: #0b5f82;
    color: white;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

/* 오른쪽 입력 영역 */
.input-area {
    flex: 1;
    font-size: 20px;
}

.label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.input-title {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
}

.input-content {
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 18px;
}

/* 하단 버튼 */
.btn-area {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    gap: 15px;
}

.cancel-btn,
.submit-btn {
    padding: 10px 25px;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.cancel-btn {
    background: #ccc;
}

.submit-btn {
    background: #0b5f82;
    color: white;
}
